/* --------------------------------------------------------------------------
 * DARK MODE ---------------------------------------------------------------- */
/* from https://github.com/jannis-baum/dotfiles/blob/main/lib/color-schemes/jellyfish.yaml */

:root {
    --bg-primary: black;
    --bg-secondary: #161616;
    --bg-tertiary: #333;
    --bg-code: #333;
    --bg-mark: rgba(255, 255, 175, 0.8); 

    --text-primary: #aaa;
    --text-secondary: #6a6a6a; /* #7d7d7d from foot notes */
    --text-tertiary: #aaa;
    --text-link: #859abc;
    --text-mark: #222;

    --border-regular: #353535;
    --border-muted: #303030;

    --icon-directory: var(--text-secondary);
    --icon-file: var(--text-secondary);
    --icon-back: var(--text-secondary);

    --syntax-text: var(--text-primary);
    --syntax-keyword: #aed7ff;
    --syntax-entity: #aeafff;
    --syntax-constant: #d1b0fa;
    --syntax-string: #d787af;
    --syntax-symbol: var(--syntax-constant);
    --syntax-comment: #949494;
    --syntax-entity-tag: #d7afd7;
    --syntax-storage-modifier-import: var(--syntax-text);

    --syntax-markup-heading: var(--syntax-text);
    --syntax-markup-list: var(--syntax-text);
    --syntax-markup-italic: var(--syntax-text);
    --syntax-markup-bold: var(--syntax-text);
    --syntax-markup-inserted-fg: #aff5b4;
    --syntax-markup-inserted-bg: #033a16;
    --syntax-markup-deleted-fg: #ffdcd7;
    --syntax-markup-deleted-bg: #67060c;

    --alert-note: #a5d5fe;
    --alert-tip: #b4fa72;
    --alert-important: #ff8ffd;
    --alert-warning: #ffaf00;
    --alert-caution: #ff5f5f;

    --alert-fallback: var(--alert-note);

    --ipynb-bg-error: rgba(255, 0, 0, 0.1);
    --ipynb-ansi-black: #616161;
    --ipynb-ansi-brblack: #8e8e8e;
    --ipynb-ansi-red: #ff8272;
    --ipynb-ansi-brred: #ffc4bd;
    --ipynb-ansi-green: #b4fa72;
    --ipynb-ansi-brgreen: #d6fcb9;
    --ipynb-ansi-yellow: #fefdc2;
    --ipynb-ansi-bryellow: #fefdd5;
    --ipynb-ansi-blue: #a5d5fe;
    --ipynb-ansi-brblue: #c1e3fe;
    --ipynb-ansi-magenta: #ff8ffd;
    --ipynb-ansi-brmagenta: #ffb1fe;
    --ipynb-ansi-cyan: #d0d1fe;
    --ipynb-ansi-brcyan: #e5e6fe;
    --ipynb-ansi-white: #f1f1f1;
    --ipynb-ansi-brwhite: #fefefe;
}

/* --------------------------------------------------------------------------
 * LIGHT MODE --------------------------------------------------------------- */
/* adapted from GitHub's light theme */

@media (prefers-color-scheme: light) {
    :root {
        --bg-primary: white;
        --bg-secondary: #f6f8fa;
        --bg-tertiary: #e7e9eb;
        --bg-code: #eff1f3;
        --bg-mark: rgba(255, 255, 175, 1);

        --text-primary: #1f2328;
        --text-secondary: #656d76;
        --text-tertiary: #1f2328;
        --text-link: #0969da;
        --text-mark: var(--text-primary);

        --border-regular: #d0d7de;
        --border-muted: #d8dee4;

        --icon-directory: #54aeff;
        --icon-file: #636c76;
        --icon-back: var(--text-secondary);

        /* source for light mode syntax theme:
         * https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css
         * */
        --syntax-text: #24292e;
        --syntax-keyword: #d73a49;
        --syntax-entity: #6f42c1;
        --syntax-constant: #005cc5;
        --syntax-string: #032f62;
        --syntax-symbol: #e36209;
        --syntax-comment: #6a737d;
        --syntax-entity-tag: #22863a;
        --syntax-storage-modifier-import: var(--syntax-text);

        --syntax-markup-heading: var(--syntax-constant);
        --syntax-markup-list: #735c0f;
        --syntax-markup-italic: var(--syntax-text);
        --syntax-markup-bold: var(--syntax-text);
        --syntax-markup-inserted-fg: var(--syntax-entity-tag);
        --syntax-markup-inserted-bg: #f0fff4;
        --syntax-markup-deleted-fg: #b31d28;
        --syntax-markup-deleted-bg: #ffeef0;

        --alert-note: var(--text-link);
        --alert-tip: #1a7f37;
        --alert-important: #8250df;
        --alert-warning: #bf8700;
        --alert-caution: #cf222e;

        --alert-fallback: var(--alert-note);

        --ipynb-bg-error: rgba(255, 0, 0, 0.1);
        --ipynb-ansi-black: #3e424d;
        --ipynb-ansi-brblack: #282c36;
        --ipynb-ansi-red: #e75c58;
        --ipynb-ansi-brred: #b22b31;
        --ipynb-ansi-green: #00a250;
        --ipynb-ansi-brgreen: #007427;
        --ipynb-ansi-yellow: #ddb62b;
        --ipynb-ansi-bryellow: #b27d12;
        --ipynb-ansi-blue: #208ffb;
        --ipynb-ansi-brblue: #0065ca;
        --ipynb-ansi-magenta: #d160c4;
        --ipynb-ansi-brmagenta: #a03196;
        --ipynb-ansi-cyan: #60c6c8;
        --ipynb-ansi-brcyan: #258f8f;
        --ipynb-ansi-white: #c5c1b4;
        --ipynb-ansi-brwhite: #a1a6b2;
    }
}
