/* --------------------------------------------------------------------------
 * DARK MODE ---------------------------------------------------------------- */

:root {
    --bg-primary: black;
    --bg-secondary: #161616;
    --bg-code: #333;
    --bg-mark: rgba(255, 255, 175, 0.8); 

    --text-primary: #aaa;
    --text-secondary: #6a6a6a; /* #7d7d7d from foot notes */
    --text-link: #859abc;
    --text-mark: #222;

    --border-regular: #353535;
    --border-muted: #303030;

    --syntax-text: var(--text-primary);
    --syntax-keyword: #aed7ff;
    --syntax-entity: #aeafff;
    --syntax-constant: #d1b0fa;
    --syntax-string: #d787af;
    --syntax-symbol: var(--syntax-constant);
    --syntax-comment: #949494;
    --syntax-entity-tag: #d7afd7;
    --syntax-storage-modifier-import: var(--syntax-text);

    --syntax-markup-heading: var(--syntax-text);
    --syntax-markup-list: var(--syntax-text);
    --syntax-markup-italic: var(--syntax-text);
    --syntax-markup-bold: var(--syntax-text);
    --syntax-markup-inserted-fg: #aff5b4;
    --syntax-markup-inserted-bg: #033a16;
    --syntax-markup-deleted-fg: #ffdcd7;
    --syntax-markup-deleted-bg: #67060c;

    --alert-note: #a5d5fe;
    --alert-tip: #b4fa72;
    --alert-important: #ff8ffd;
    --alert-warning: #ffaf00;
    --alert-caution: #ff5f5f;

    --ipynb-bg-error: rgba(255, 0, 0, 0.1);
}

/* --------------------------------------------------------------------------
 * LIGHT MODE --------------------------------------------------------------- */

@media (prefers-color-scheme: light) {
    :root {
        --bg-primary: white;
        --bg-secondary: #f6f8fa;
        --bg-code: #eff1f3;
        --bg-mark: rgba(255, 255, 175, 1);

        --text-primary: #1f2328;
        --text-secondary: #656d76;
        --text-link: #0969da;
        --text-mark: var(--text-primary);

        --border-regular: #d0d7de;
        --border-muted: #d8dee4;

        /* source for light mode syntax theme:
         * https://github.com/highlightjs/highlight.js/blob/main/src/styles/github.css
         * */
        --syntax-text: #24292e;
        --syntax-keyword: #d73a49;
        --syntax-entity: #6f42c1;
        --syntax-constant: #005cc5;
        --syntax-string: #032f62;
        --syntax-symbol: #e36209;
        --syntax-comment: #6a737d;
        --syntax-entity-tag: #22863a;
        --syntax-storage-modifier-import: var(--syntax-text);

        --syntax-markup-heading: var(--syntax-constant);
        --syntax-markup-list: #735c0f;
        --syntax-markup-italic: var(--syntax-text);
        --syntax-markup-bold: var(--syntax-text);
        --syntax-markup-inserted-fg: var(--syntax-entity-tag);
        --syntax-markup-inserted-bg: #f0fff4;
        --syntax-markup-deleted-fg: #b31d28;
        --syntax-markup-deleted-bg: #ffeef0;

        --alert-note: var(--text-link);
        --alert-tip: #1a7f37;
        --alert-important: #8250df;
        --alert-warning: #bf8700;
        --alert-caution: #cf222e;

        --ipynb-bg-error: rgba(255, 0, 0, 0.1);
    }
}
