*[class^="ipynb-cell-"] {
    position: relative;
}

.ipynb-execution-count {
    font-family: monospace;
    position: absolute;
    transform: translateX(-100%);
    top: 1rem;
    left: -1rem;
}

.ipynb-output-stream {
    padding: unset;
    background-color: unset;
}

.ipynb-output-error {
    background-color: rgba(255, 0, 0, 0.1);
}
