/* --------------------------------------------------------------------------
 * CODE --------------------------------------------------------------------- */

pre {
    background-color: var(--bg-secondary);
    padding: 1rem;
    overflow: auto;
}
code {
    background-color: var(--bg-code);
    padding: 0.2rem;
    border-radius: 0.25rem;
}
pre > code {
    background-color: unset;
    padding: unset;
}

/* --------------------------------------------------------------------------
 * LINKS -------------------------------------------------------------------- */

a {
    color: var(--text-link);
    text-decoration: none;
}
a:hover { text-decoration: underline; }
a.header-anchor {
    opacity: 0;
    position: absolute;
    transform: translateX(-2rem);
    width: 2rem;
}
a.header-anchor:hover,
h1:hover a.header-anchor, h2:hover a.header-anchor,
h3:hover a.header-anchor, h4:hover a.header-anchor,
h5:hover a.header-anchor, h6:hover a.header-anchor {
    opacity: 1;
}

/* --------------------------------------------------------------------------
 * TABLES ------------------------------------------------------------------- */

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}

th, td {
    padding: 6px 13px;
    border: 1px solid var(--border-regular);
}

tr:nth-child(even) {
    background-color: var(--bg-secondary);
}

/* --------------------------------------------------------------------------
 * LISTS -------------------------------------------------------------------- */

li.task-list-item { list-style: none; }
input.task-list-item-checkbox {
    position: absolute;
    transform: translateX(-1.44rem);
}

/* --------------------------------------------------------------------------
 * FOOTNOTE ----------------------------------------------------------------- */

.footnotes-sep {
    display: none;
}
section.footnotes {
    font-size: 0.75rem;
    margin-top: 1.25rem;
    border-top: 0.2px solid var(--border-muted);
    color: var(--text-secondary);
}

/* --------------------------------------------------------------------------
 * DEFIITION LISTS ---------------------------------------------------------- */

dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 20%;
    text-align: right;
    font-weight: bold;
    padding: 0.25em;
    margin: 0.25em 0;
}
dd {
    flex-basis: 80%;
    flex-grow: 1;
    text-align: left;
    border-left: 0.2px solid var(--border-muted);
    margin: 0;
    padding: 0.25em;
    margin: 0.25em 0;
}
dd + dd {
    margin-left: 20%;
    margin-top: -0.25em;
}
dt + dt {
    margin-right: 80%;
    margin-top: -0.25em;
}
dt + dt + dd {
    margin-left: 20%;
    margin-top: -2.25em; /* Align definition with last term */
}                        /* Self height - margin - padding */

/* --------------------------------------------------------------------------
 * QUOTES AND ALERTS--------------------------------------------------------- */

blockquote {
    padding: 0 1rem;
    color: var(--text-secondary);
    border-left: .25em solid var(--border-regular);
    margin-left: 0;
}

/* GitHub-style alerts */
.markdown-alert {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
.markdown-alert > :first-child {
    margin-top: 0;
}
.markdown-alert > :last-child {
    margin-bottom: 0;
}
.markdown-alert .markdown-alert-title {
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}
.markdown-alert .markdown-alert-title .octicon {
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
.markdown-alert-note {
    border-left: .25rem solid var(--alert-note);
}
.markdown-alert-note .markdown-alert-title {
    color: var(--alert-note);
}
.markdown-alert-tip {
    border-left: .25rem solid var(--alert-tip);
}
.markdown-alert-tip .markdown-alert-title {
    color: var(--alert-tip);
}
.markdown-alert-important {
    border-left: .25rem solid var(--alert-important);
}
.markdown-alert-important .markdown-alert-title {
    color: var(--alert-important);
}
.markdown-alert-warning {
    border-left: .25rem solid var(--alert-warning);
}
.markdown-alert-warning .markdown-alert-title {
    color: var(--alert-warning);
}
.markdown-alert-caution {
    border-left: .25rem solid var(--alert-caution);
}
.markdown-alert-caution .markdown-alert-title {
    color: var(--alert-caution);
}

/* --------------------------------------------------------------------------
 * MISCELLANEOUS ------------------------------------------------------------ */

/* headings */
h1, h2 {
    border-bottom: 0.2px solid var(--border-muted);
    padding-bottom: 0.75rem;
}

/* images */
img, svg { max-width: 100%; }

/* keyboard */
kbd {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-regular);
    box-shadow: inset 0 -1px 0 var(--border-regular);
    padding: 3px 5px;
    border-radius: 6px;
}

/* highlight/mark */
mark {
    background-color: var(--bg-mark);
    color: var(--text-mark);
}

/* horizontal rule */
hr {
    border: 0;
    border-top: 0.25em solid var(--border-regular);
    margin: 24px 0;
}

/* parent directory link */
#top-nav > a {
    display: inline-flex;
    align-items: center;
}
.icon-back {
    fill: var(--icon-back);
}
