/* --------------------------------------------------------------------------
 * CODE --------------------------------------------------------------------- */

pre {
    background-color: var(--bg-secondary);
    padding: 1rem;
    overflow: auto;
}
code {
    background-color: var(--bg-code);
    padding: 0.2rem;
    border-radius: 0.25rem;
}
pre > code {
    background-color: unset;
    padding: unset;
}

/* --------------------------------------------------------------------------
 * LINKS -------------------------------------------------------------------- */

a {
    color: var(--text-link);
    text-decoration: none;
}
a:hover { text-decoration: underline; }
a.header-anchor {
    opacity: 0;
    position: absolute;
    transform: translateX(-2rem);
    width: 2rem;
}
a.header-anchor:hover,
h1:hover a.header-anchor, h2:hover a.header-anchor,
h3:hover a.header-anchor, h4:hover a.header-anchor,
h5:hover a.header-anchor, h6:hover a.header-anchor {
    opacity: 1;
}

/* --------------------------------------------------------------------------
 * TABLES ------------------------------------------------------------------- */

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 0;
    margin-bottom: 16px;
}

th, td {
    padding: 6px 13px;
    border: 1px solid var(--border-regular);
}

tr:nth-child(even) {
    background-color: var(--bg-secondary);
}

/* --------------------------------------------------------------------------
 * LISTS -------------------------------------------------------------------- */

li.task-list-item { list-style: none; }
input.task-list-item-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 .27em -1.125rem;
}

/* --------------------------------------------------------------------------
 * FOOTNOTE ----------------------------------------------------------------- */

.footnotes-sep {
    display: none;
}
section.footnotes {
    font-size: 0.75rem;
    margin-top: 1.25rem;
    border-top: 0.2px solid var(--border-muted);
    color: var(--text-secondary);
}

/* --------------------------------------------------------------------------
 * DEFIITION LISTS ---------------------------------------------------------- */

dl {
    display: flex;
    flex-flow: row wrap;
}
dt {
    flex-basis: 20%;
    text-align: right;
    font-weight: bold;
    padding: 0.25em;
    margin: 0.25em 0;
}
dd {
    flex-basis: 80%;
    flex-grow: 1;
    text-align: left;
    border-left: 0.2px solid var(--border-muted);
    margin: 0;
    padding: 0.25em;
    margin: 0.25em 0;
}
dd + dd {
    margin-left: 20%;
    margin-top: -0.25em;
}
dt + dt {
    margin-right: 80%;
    margin-top: -0.25em;
}
dt + dt + dd {
    margin-left: 20%;
    margin-top: -2.25em; /* Align definition with last term */
}                        /* Self height - margin - padding */

/* --------------------------------------------------------------------------
 * QUOTES AND ALERTS--------------------------------------------------------- */

blockquote {
    padding: 0 1rem;
    color: var(--text-secondary);
    border-left: .25em solid var(--border-regular);
    margin-left: 0;
}

/* Alerts: */
/* (also known as Callouts or Admonitions) */
.alert {
    /* Default color variable: overridden per marker */
    /* Falls back to --fallback-alert for unconfigured markers */
    --color: var(--fallback-alert);

    border-left: .25rem solid var(--color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}
.alert > :first-child {
    margin-top: 0;
}
.alert > :last-child {
    margin-bottom: 0;
}
.alert .alert-title {
    color: var(--color);
    display: flex;
    font-weight: 500;
    align-items: center;
    line-height: 1;
}
.alert .alert-title svg {
    height: 16px;
    width: 16px;
    margin-right: 0.5rem;
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}
/* Default colors for GitHub style markers */
.alert-note      { --color: var(--alert-note); }
.alert-tip       { --color: var(--alert-tip); }
.alert-important { --color: var(--alert-important); }
.alert-warning   { --color: var(--alert-warning); }
.alert-caution   { --color: var(--alert-caution); }

/* To add colors for custom markers: */

/* .alert-foo { --color: #00ff00; } */
/* .alert-bar { --color: var(--alert-important); } */

/* There's an extra class .fallback-alert */
/* to separately set defaults for all unconfigured markers: */

/* .fallback-alert { --color: #00ffff; } */

/* --------------------------------------------------------------------------
 * COPY-CODE-BUTTON --------------------------------------------------------- */

.copy-wrapper {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.copy-button, .copy-success, .copy-fail {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: 0.4rem;
    border: 0;
    border-radius: 0.4rem;
    background: none;
    fill: var(--text-tertiary);
    cursor: pointer;
    transition: opacity 0.1s, background 0.1s;
}
.copy-button {
    opacity: 0;
}
pre:hover + .copy-wrapper > .copy-button {
    opacity: 0.3;
}
.copy-button:hover, .copy-success, .copy-fail {
    opacity: 1;
    background: var(--bg-tertiary);
}

/* --------------------------------------------------------------------------
 * MISCELLANEOUS ------------------------------------------------------------ */

/* headings */
h1, h2 {
    border-bottom: 0.2px solid var(--border-muted);
    padding-bottom: 0.75rem;
}

/* images */
img, svg { max-width: 100%; }

/* keyboard */
kbd {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-regular);
    box-shadow: inset 0 -1px 0 var(--border-regular);
    padding: 3px 5px;
    border-radius: 6px;
}

/* highlight/mark */
mark {
    background-color: var(--bg-mark);
    color: var(--text-mark);
}

/* horizontal rule */
hr {
    border: 0;
    border-top: 0.25em solid var(--border-regular);
    margin: 24px 0;
}
