html {
    background-color: black;
    color: #aaa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

pre {
    background-color: #161616;
    padding: 1rem;
}
code {
    background-color: #333;
    padding: 0.2rem;
    border-radius: 0.25rem;
}
pre > code { background-color: unset; }

a {
    color: #859abc;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

h1, h2 {
    border-bottom: 0.2px solid #444;
    padding-bottom: 0.75rem;
}
