* {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    padding: 2rem 4rem;
}

/* default to 900px for all content types */
*[class^="content-"] {
    max-width: 900px;
    margin: auto;
}
.content-txt { max-width: 1200px; }

/* parent directory link */
#top-nav > a {
    display: inline-flex;
    align-items: center;
}
.icon-back {
    fill: var(--icon-back);
}

@media print {
    #top-nav {
        display: none;
    }
}

/* --------------------------------------------------------------------------
 * DIRECTORY LISTS ---------------------------------------------------------- */

ul.dir-list { padding: 0 }
li[class^='dir-list-'] {
    list-style: none;
}
li[class^='dir-list-'] > a {
    display: inline-flex;
    align-items: center;
    padding: 0.05rem 0;
    color: var(--text-primary);
}
li[class^='dir-list-'] > a:hover {
    color: var(--text-link);
}
li[class^='dir-list-'] > a > svg {
    margin-right: 0.3rem;
}
.icon-directory { fill: var(--icon-directory); }
.icon-file { fill: var(--icon-file); }
