html {
    background-color: black;
    color: #aaa;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body {
    box-sizing: border-box;
    max-width: 900px;
    margin: auto;
    padding: 2rem 4rem;
}

/* --------------------------------------------------------------------------
 * HEADINGS ----------------------------------------------------------------- */
h1, h2 {
    border-bottom: 0.2px solid #444;
    padding-bottom: 0.75rem;
}

/* --------------------------------------------------------------------------
 * CODE --------------------------------------------------------------------- */
pre {
    background-color: #161616;
    padding: 1rem;
}
code {
    background-color: #333;
    padding: 0.2rem;
    border-radius: 0.25rem;
}
pre > code { background-color: unset; }

/* --------------------------------------------------------------------------
 * LINKS -------------------------------------------------------------------- */
a {
    color: #859abc;
    text-decoration: none;
}
a:hover { text-decoration: underline; }
a.header-anchor {
    opacity: 0;
    position: absolute;
    transform: translateX(-2rem);
    width: 2rem;
}
a.header-anchor:hover,
h1:hover a.header-anchor, h2:hover a.header-anchor,
h3:hover a.header-anchor, h4:hover a.header-anchor,
h5:hover a.header-anchor, h6:hover a.header-anchor {
    opacity: 1;
}

/* --------------------------------------------------------------------------
 * LISTS -------------------------------------------------------------------- */
li.task-list-item { list-style: none; }
input.task-list-item-checkbox {
    position: absolute;
    transform: translateX(-1.44rem);
}
